@using Assignment_2.Models;
@model Category;
@{
    ViewData["Title"] = "Edit Category";
	
}

<form asp-controller="Category" asp-action="EditCategory" asp-route-id="@Model.Id" method="post">
	<div class="form-group">
		@Html.LabelFor(Model => Model.Name)
		@Html.TextBoxFor(Model => Model.Name, new { @class = "form form-control" })
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div class="form-group">
		@Html.LabelFor(Model => Model.Description)
		@Html.TextBoxFor(Model => Model.Description, new { @class = "form form-control" })
		<span asp-validation-for="Description" class="text-danger"></span>
	</div>
	<input type="submit" class="btn btn-primary" value="Edit">
</form>
