@using Assignment_2.ViewModels;
@{
    ViewData["Title"] = "Products";
	@model ProductsViewModel;
}

<h1>@ViewData["Title"]</h1>
<table class="table table-dark">
	<tr>
		<th scope="col">#</th>
		<th scope="col">Name</th>
		<th scope="col">Price</th>
		<th scope="col">Description</th>
		<th scope="col">Image</th>
		<th scope="col">categoryId</th>
		<th scope="col">Edit</th>
		<th scope="col">Delete</th>
		<th scope="col">Details</th>
	</tr>
	@foreach (var product in Model.products)
	{
		<tr>
			<td scope="row">@product.Id</td>
			<td scope="row">@product.Name</td>
			<td scope="row">@product.Price</td>
			<td scope="row">@product.Description</td>
			<td scope="row"><img src="/images/@product.Img" width="200" height="200" alt="@product.Img" /></td>
			<td scope="row">@product.Category.Name</td>
			<td scope="row"><a asp-controller="Product" asp-action="EditForm" asp-route-id="@product.Id" class="btn btn-warning fs-6">Edit</a></td>
			<td scope="row"><a asp-controller="Product" asp-action="DeleteProduct" asp-route-id="@product.Id" class="btn btn-danger fs-6">Delete</a></td>
			<td scope="row"><a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="btn btn-success fs-6">Show Details</a></td>
		</tr>
	}
	<tr>
		<td colspan="9" class="text-center"><a asp-controller="Product" asp-action="CreateForm" class="btn btn-primary w-50 fs-3">Create</a></td>
	</tr>
</table>
